.dropzone {
    width: 120px;
    height: 120px;
    background: rgb(118, 126, 108);
    border: solid 1px;
}

.dropped {
    width: 120px;
    height: 120px;
    background:rgb(88, 140, 74);
    border: solid 1px;
}

.centered_image {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center; 
}

.icon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#title {
    width: 300px;
    height: 150px;
    margin:0 auto;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

#spawn_div {
    border-radius: 25px;
    width: 150px;
    height: 150px;
    background-color: rgb(0, 204, 102);
    position: absolute;

}

#point_div{
    border-radius: 25px;
    width: 150px;
    height: 150px;
    background-color: rgb(146, 141, 141);
    position: absolute;
    top: 10px;
}

#grid_div {
    width: 600px;
    height: 600px;
    margin:0 auto;
}

#table {
    margin:0 auto;
    width: 100%;
    height: 100%;
    
}