.dropzone {
    width: 100px;
    height: 100px;
    background: rgb(118, 126, 108);
    border: solid 1px;
}
.dropped {
    width: 100px;
    height: 100px;
    background:rgb(88, 140, 74);
    border: solid 1px;
}
.centered_image {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items :center; 
}
#spawn_div {
    width: 100px;
    height: 100px;
    background-color: red; 
}
#spawn_title{
    text-align: center;
}